@use '../components/Constant.scss' as c;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Squada+One&display=swap');

// mobile first 
body{
    font-family: 'Squada One', sans-serif;
    -webkit-text-size-adjust: 100%; // trying to fix font size inconsistency on iphones
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}


//for medium screen, begin hide cursor and display the custom one
@media screen and (min-width: 768px) {
    
}

// large screen 
@media screen and (min-width: 1140px) {
    // hide original cursor 
    html, body{
        &, *{
        cursor: none;
        }
    }
}